#titleimg {
    width: 1280px;
    height: 690px;
}

body, html {
    height: 100%;
  }
  
  body {
    /* The image used */
    background-image: url("https://github.com/BBallare21/Music-Space/blob/master/Assets/Photos/music2.jpg?raw=true");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#searchbar {
padding-top: 150px;
padding-bottom: 50px;
width: 50%;
}

.table {
width: 500px;

}


#topsongsdiv {
height: 400px;
margin: auto;

}

#upcomingshowsdiv {
height: 400px;
position: relative;
}

#topalbumsdiv {

margin-top: 30px;
}