#titleimg {
    width: 1280px;
    height: 690px;
}

body, html {
    height: 100%;
  }
  
  html {
    /* The image used */
    background-image: url("http://www.nasa.gov/sites/default/files/thumbnails/image/wise_nebula.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-size: cover;
}

#searchbar {
padding-top: 150px;
padding-bottom: 50px;
width: 50%;
}

.table {
width: 500px;

}


#topsongsdiv {
height: 400px;
margin: auto;

}

#upcomingshowsdiv {
height: 400px;
position: relative;
}

#topalbumsdiv {

margin-top: 30px;
}

#title {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: -75px;
    font-size: 82px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}